@font-face {
	font-family: Olivier;
	src: url(../fonts/olivier_demo.ttf);
}

@font-face {
	font-family: NellaSue;
	src: url(../fonts/NellaSueDEMO.ttf);
}

@font-face {
	font-family: ThinSkinned;
	src: url(../fonts/ThinSkinned.ttf);
}

* {
	margin: 0;
	padding: 0;
	border: 0;
}

.slide {
	background-attachment: fixed;
	overflow: hidden;
	width: 2000px;
 	height: 965px;
 	min-height: 655px;
}

#slide1 {
	background: url(../img/discovery-1.jpg);
}

.background {
	position: fixed;
	top: -20px;
	left: -20px;
}

.name {
	font-family: NellaSue;
	font-size: 130px;
}

.verb {
	font-family: ThinSkinned;
	font-size: 50px;
	margin-left: 40px;
}

.salina {
  position: relative;
  top: 40%;
  left: 50%;
  margin-top: -90px;
  margin-left: -235px;
}

footer {
	height: 30px;
	background-color: #FFF;
	opacity: .55;
}

.navigation, footer {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
}

.navigation li {
	display: inline-block;
	font-family: Georgia;
	font-size: 16px;
	margin-left: 20px;
}

.navigation li:hover{
	cursor: pointer;
}